/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */


:root {
  --blue: #34495e;
  --green: #e74c3c;
  --yellow: #C9C243;
  --orange: #FFA644;
  --red: #3498db;
}

body {
  /* font-family: arial; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
  }
}

@media (min-width: 620px) {
  main {
    column-count: 2;
    column-gap: 20px;
  }
  
  section {
    break-inside: avoid;
  }
}

@media (min-width: 960px) {
  main {
     column-count: 3;
  }
}

header {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  /* font-size: 1.4em; */
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
  min-height: 10vh;
}

main {
  flex: 1;
  padding: 20px;
  background-color: #393939;
  color: #fff;
}

nav {
  background-color: #414449;
  padding: 20px;
  color: white;
}

aside {
  padding: 20px;
  background-color: #414449;
  color: #fff;
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #282c34;
  color: white;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

.App-link {
  /* color: #61dafb; */
  color: #fff;
}

h2 {
  font-size: 1.4em;
  padding: 10px;
}

p {
  margin-bottom: 1em;
  padding: 0 10px;
}

.logo-div {
  text-align: left;
}
.logo-tagline-div {
  text-align: left;
  font-size: calc(4px + 0.3em);
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-top: 3px solid #3498db;
  border-radius: 3px;
  margin-top: 1.1vw;
  width: 90vw;
  float: right;
}

.options-link {
  text-decoration: none;
  font-size: calc(8px + 0.9vw);
  /* color: #3498db; */
  color: #fff;
}

.info-link {
  text-decoration: none;
  color: var(--green);
  padding: 10px;
  display: block;
}

section {
  border-top: 3px solid #3498db;
  border-radius: 3px;
  /* background-color: #494b4e; */
  background-color: #c5c8cc;
  color: #000;
  margin-bottom: 20px;
  overflow: hidden;
  /* padding: 10px; */
}
.section-img {
  display: block;
  padding: 10px;
  margin: 0 auto;
}

.section-img {
  display: block;
  padding: 10px;
  margin: 0 auto;
}

.bigtitle {
  padding: 0;
}

.bigtitle-title {
  color: white;
  background-color: var(--red);
  margin-bottom: 10px;
}

.bigbottom-link {
  background-color: var(--green);
  color: white;
}

.profile {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.footer-copyright {
  font-size: calc(5px + 0.5vw);
}
