.App1 {
  text-align: center;
  z-index: 2;
  height: 100vh;
}

.App-logo2 {
  height: 40vmin;
  pointer-events: none;
}

.App1 a:link {
  color: rgb(121 167 255);
  background-color: transparent;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo1 {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header1 {
  /* background-color: #282c34; */
  min-height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer1 {
  padding: 15px;
  display: block;
  color: #fff;
  background-color: #2b3538;
  margin-bottom: 0;  
}

.App-link1 {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navItem {
  display: inline-flex;
  padding: 15px;
  margin: 20px;
  height: 25vh;
  /* width: 20vw; */
  /* height: 250px; */
  width: calc(180px + 10vmin);
  /* border: 1px solid #61dafb; */
  background-color: #35555d;
  font-size: calc(15px + 2vmin);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  /* opacity: 0.5; */
  border-radius: 10%;
}
.navItem:hover {
  /* height: 280px;
  width: 320px; */
  height: 28vh;
  width: calc(200px + 10vmin);
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
}

.navItem-Title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  color: #fff;
}

.navItem1bg {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-image: url("./img-data/astroimg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* .navItem2bg {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background: rgb(146, 127, 127);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} */

/* a:-webkit-any-link {
  color: #fff;
} */

.bg-body {
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  position: fixed;
  z-index: -2;
  /* background: #131518; */
  background: #232629;
}

/* bg pattern css */
#patt1 path {
  stroke: #ff509e;
}

#patt2 path {
  stroke: #95d13c;
}

#patt3 path {
  stroke: #00b6cb;
}

#patt4 path {
  stroke: #9753e1;
}

#mask1 rect {
  -webkit-animation: pulse 1.90476s infinite;
  animation: pulse 1.90476s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#mask2 rect {
  /* x: 10; */
  -webkit-animation: pulse 1.90476s infinite 0.47619s;
  animation: pulse 1.90476s infinite 0.47619s;
  -webkit-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#squiggle1,
#squiggle2,
#squiggle3,
#squiggle4 {
  background-blend-mode: multiply;
}

@-webkit-keyframes pulse {
  0% {
    x: 10;
  }
  50% {
    x: -20;
  }
  100% {
    x: -50;
  }
}

@keyframes pulse {
  0% {
    x: 10;
  }
  50% {
    x: -20;
  }
  100% {
    x: -50;
  }
}
